@charset "UTF-8";
.discount .discount__inner .discount__body .discount__item .form__box .form__btn:hover, .card__btn:hover, .benefit__button .benefit__button-item:hover, .button:hover, .header__button:hover {
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 5px 5px 2px 1px rgba(14, 14, 14, 0.2);
          box-shadow: 5px 5px 2px 1px rgba(14, 14, 14, 0.2);
  background-color: #6af060;
}

.parent .parent__item-text {
  border-radius: 10px;
  background-color: #ffc8a8;
  padding: 10px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f0a060;
}

::-webkit-scrollbar-thumb {
  background: #6af060;
  border-radius: 15px;
  border: 3px solid #f0a060;
}

::-webkit-scrollbar-thumb:hover {
  background: #0b8602;
}

/* Убираем внутренние отступы */
ul,
ol[class],
li {
  padding: 0;
  list-style: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}

a:hover {
  color: #565656;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat-ExtraBold;
}

p {
  font-family: Roboto-Medium;
}

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto-Medium";
  cursor: url(../img/cursor.png), auto;
}

body.active {
  overflow: hidden;
  height: 100vh;
}

h2 {
  font-size: 40px;
}

.wrap {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  max-width: 1950px;
}

.section {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  max-width: 1950px;
}

@-webkit-keyframes traffic__cubes {
  0% {
    bottom: -280px;
  }
  25% {
    bottom: -260px;
  }
  50% {
    bottom: -240px;
  }
  75% {
    bottom: -260px;
  }
  100% {
    bottom: -280px;
  }
}

@keyframes traffic__cubes {
  0% {
    bottom: -280px;
  }
  25% {
    bottom: -260px;
  }
  50% {
    bottom: -240px;
  }
  75% {
    bottom: -260px;
  }
  100% {
    bottom: -280px;
  }
}
@-webkit-keyframes traffic__triangles {
  0% {
    left: 0;
  }
  25% {
    left: 20px;
  }
  50% {
    left: 30px;
  }
  75% {
    left: 20px;
  }
  100% {
    left: 0;
  }
}
@keyframes traffic__triangles {
  0% {
    left: 0;
  }
  25% {
    left: 20px;
  }
  50% {
    left: 30px;
  }
  75% {
    left: 20px;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes traffic__intro {
  0% {
    right: 0;
  }
  25% {
    right: -10px;
  }
  50% {
    right: -20px;
  }
  75% {
    right: -10px;
  }
  100% {
    right: 0;
  }
}
@keyframes traffic__intro {
  0% {
    right: 0;
  }
  25% {
    right: -10px;
  }
  50% {
    right: -20px;
  }
  75% {
    right: -10px;
  }
  100% {
    right: 0;
  }
}
@-webkit-keyframes benefit__button {
  0% {
    width: 400px;
  }
  25% {
    width: 430px;
  }
  50% {
    width: 450px;
  }
  75% {
    width: 430px;
  }
  100% {
    width: 400px;
  }
}
@keyframes benefit__button {
  0% {
    width: 400px;
  }
  25% {
    width: 430px;
  }
  50% {
    width: 450px;
  }
  75% {
    width: 430px;
  }
  100% {
    width: 400px;
  }
}
@-webkit-keyframes img__gallery {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes img__gallery {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url(../fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.ttf);
}
.header {
  position: fixed;
  margin-bottom: 10px;
  background-color: #FFF;
  padding-top: 10px;
  -webkit-transition: all 3s ease !important;
  transition: all 3s ease !important;
  width: 100%;
  z-index: 3;
}
.header .burger {
  display: none;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  border-radius: 15px;
  max-height: 80px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__button {
  background-color: #f0a060;
  padding: 20px 30px;
  border-radius: 20px;
  border: none;
}
.header__button a {
  font-size: 25px;
  color: #FFF;
}

.phone__img,
.instagram__img,
.vk__img,
.telegram__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: initial;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.burger-btn {
  display: none;
}

.tools__item:not(:first-child) {
  margin-left: 37px;
}

.section__intro {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}

.intro {
  width: 100%;
}

.intro__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__item {
  width: auto;
}

.into__img {
  width: 600px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-animation-name: traffic__intro;
          animation-name: traffic__intro;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.intro__title {
  margin: 0 0 30px 100px;
  color: #f0a060;
  font-size: 72px;
  padding: 5px;
  width: 100%;
  max-width: 800px;
}

.intro__text {
  margin: 0 0 30px 100px;
  color: #000000;
  font-size: 43px;
  padding: 5px;
  width: 100%;
  max-width: 800px;
}

.intro__description {
  margin-top: 130px;
  font-size: 30px;
  padding: 5px;
  width: 100%;
  max-width: 800px;
}

.intro__button {
  width: 300px;
  margin-left: 100px;
  background-color: #f0a060;
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  padding: 20px 55px;
  text-align: center;
}
.intro__button a {
  font-size: 40px;
  color: #FFF;
}

.intro__button-adaptiv {
  display: none;
}

.intro__figures {
  position: absolute;
}

.triangles {
  top: 451px;
  left: 0;
  z-index: -1;
  -webkit-animation-name: traffic__triangles;
          animation-name: traffic__triangles;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.cubes {
  bottom: -281px;
  right: 250px;
  -webkit-transform: rotate(60deg);
  transform: rotate(90deg);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation-name: traffic__cubes;
          animation-name: traffic__cubes;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.hero {
  position: relative;
  max-width: 1900px;
  margin: 145px auto 0px auto;
}

.section__values {
  margin-top: 330px;
  width: 100%;
  height: 100%;
  max-width: 2100px;
  padding: 0;
  background-image: url(../img/pthon.png);
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.values {
  max-width: 1900px;
  padding: 135px 0 50px 0;
}
.values__title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.values__title h2 {
  font-size: 40px;
}

.parent {
  width: 100%;
  padding: 0px 0 100px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 10px;
}
.parent .parent__img-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.parent .parent__item-title {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
.parent__item1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/4/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.parent__item2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
  padding: 30px 30px 5px 30px;
}

.parent__item3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1/4/2/5;
  padding: 30px 30px 5px 30px;
}

.parent__item4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: 2/2/3/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.parent__item4 .parent__img-item {
  width: 200px;
  height: 200px;
}

.parent__item5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3/2/4/3;
  padding: 30px 5px 30px 30px;
}

.parent__item6 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 3/4/4/5;
  padding: 30px 5px 30px 30px;
}

.parent__item7 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-area: 1/5/4/6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefit__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.benefit__inner .benefit__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.benefit__title-block {
  width: 100%;
  text-align: center;
}
.benefit__title-block .benefit__title-item {
  font-size: 40px;
  margin-bottom: 120px;
}

.benefit__img {
  height: 150px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.benefit__item-block {
  margin-top: 30px;
  border: 3px solid #f0a060;
  border-radius: 10px;
}
.benefit__item-block .benefit__item-text {
  padding: 7px 15px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.benefit__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 120px;
}
.benefit__button .benefit__button-item {
  text-align: center;
  width: 400px;
  background-color: #f0a060;
  padding: 20px 55px;
  border-radius: 20px;
  border: none;
  -webkit-animation-name: benefit__button;
          animation-name: benefit__button;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.benefit__button .benefit__button-item a {
  font-size: 40px;
  color: #FFF;
}

.section__card {
  margin-top: 80px;
}

.cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards__box-title {
  font-size: 30px;
  text-align: center;
  margin: 15px 0;
  padding: 0 5px;
}

.cards__item {
  margin: 20px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  background-color: #FBDEC6;
  border-radius: 15px;
}

.card__image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__image img {
  width: 100%;
  max-width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card__title {
  margin: 0;
  margin-bottom: 15px;
}

.card__descr {
  margin: 0;
  margin-bottom: 15px;
}

.card__btn {
  margin-top: auto;
  border: none;
  border-radius: 15px;
  padding: 10px 40px;
  background-color: #f0a060;
  cursor: pointer;
}
.card__btn a {
  color: #fff;
  font-size: 25px;
}

.cards__item .card {
  height: 100%;
}

.section__discount {
  background-color: #f0a060;
  width: 100%;
}
.section__discount .discount__title {
  font-size: 40px;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.discount .discount__inner {
  width: 100%;
  max-width: 1200px;
  padding: 10px;
}
.discount .discount__inner .discount__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.discount .discount__inner .discount__body .discount__item {
  padding: 10px;
  width: 50%;
  text-align: center;
}
.discount .discount__inner .discount__body .discount__item h4 {
  padding: 10px;
  font-size: 30px;
  color: #fff;
}
.discount .discount__inner .discount__body .discount__item p {
  padding: 10px;
  font-size: 15px;
  color: #fff;
  line-height: 1.5em;
}
.discount .discount__inner .discount__body .discount__item .discount__img {
  width: 100%;
  max-width: 600px;
  height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}
.discount .discount__inner .discount__body .discount__item .form__box {
  margin-top: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.discount .discount__inner .discount__body .discount__item .form__box .form__discount {
  width: 100%;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border-radius: 15px;
  background-color: white;
}
.discount .discount__inner .discount__body .discount__item .form__box .form__discount .form__title {
  font-size: 20px;
}
.discount .discount__inner .discount__body .discount__item .form__box .form__discount .discount__input {
  width: 100%;
  font-size: 20px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px;
  padding: 5px 10px;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 30px;
}
.discount .discount__inner .discount__body .discount__item .form__box .form__discount .discount__input:focus,
.discount .discount__inner .discount__body .discount__item .form__box .form__discount .discount__input:hover {
  border: 2px solid #f0a060;
  -webkit-box-shadow: 3px 5px 6px #000;
          box-shadow: 3px 5px 6px #000;
}
.discount .discount__inner .discount__body .discount__item .form__box .form__btn {
  margin-top: 20px;
  padding: 20px;
  font-size: 20px;
  color: #fff;
  background-color: #f0a060;
  border-radius: 15px;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.section__swiper {
  margin-top: 50px;
}

.swiper__title {
  text-align: center;
  font-size: 30px;
  color: #f0a060;
}

.items {
  padding: 50px 0;
}

.items__cont {
  max-width: 90%;
  margin: 0 auto;
}

.items__body {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(218px, 1fr));
}

.item {
  padding: 0 10px;
}

.item__video {
  position: relative;
  border: 2px solid #f0a060;
  padding: 0 0 56% 0;
}

.item__video video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.item__text {
  font-size: 20px;
  text-align: center;
  padding: 20px 5px;
  background-color: #f0a060;
  border-radius: 0 0 15px 15px;
}

.swiper {
  width: 100%;
  max-width: 1200px;
}

.swiper-pagination-bullet {
  background: rgb(113, 113, 112);
  opacity: 1;
  padding: 10px;
}

.swiper-pagination-bullet-active {
  background: #f0a060;
  padding: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #f0a060;
}

.box__arrew {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer {
  position: relative;
  margin-top: 150px;
  background-image: url("../img/pthon.png");
  background-size: cover;
  background-position: center;
  padding: 30px 0px;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__inner .footer__item {
  padding: 10px 15px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__inner .footer__item .footer__email-inner .footer__email {
  font-size: 25px;
  padding: 5px;
}
.footer__inner .footer__item .contact-us-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__inner .footer__item .contact-us-inner .contact-us-item {
  padding: 5px;
  font-size: 30px;
}
.footer__inner .footer__item .contact-us-inner .contact-us-item .contact-us-title {
  padding: 5px;
}
.footer__inner .footer__item .contact-us-inner .contact-us-item .contact-us-text {
  width: 100%;
  padding: 5px;
  font-size: 25px;
  text-align: center;
}

@media (max-width: 1265px) {
  .intro__inner .intro__title {
    margin: 0 0 30px 0px;
    font-size: 60px;
  }
  .intro__inner .intro__text {
    margin: 0 0 30px 0px;
    font-size: 36px;
    width: 100%;
    max-width: 600px;
  }
  .intro__inner .intro__button {
    margin: 0;
  }
  .intro__inner .into__img {
    width: 531px;
    height: 532px;
  }
  .triangles {
    display: none;
  }
  .cubes {
    display: none;
  }
  .section__values {
    margin-top: 100px;
  }
}
@media (max-width: 980px) {
  .header .header__button {
    display: block;
  }
  .desctop__btn {
    display: none;
  }
  .intro__inner .intro__item-text {
    width: 45%;
  }
  .intro__inner .intro__title {
    font-size: 50px;
  }
  .intro__inner .intro__text {
    font-size: 26px;
  }
  .intro__inner .into__img {
    width: 472px;
    height: 472px;
  }
  .burger-btn {
    display: block;
    z-index: 4;
    cursor: pointer;
  }
  .burger {
    display: none;
  }
  .burger .burger__inner {
    display: none;
  }
  .burger-btn.open {
    content: url("../img/close.png");
    width: 50px;
  }
  .burger.open {
    display: block;
    overflow: hidden;
    width: 100%;
  }
  .burger.open .burger__inner.open {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 160, 84);
    z-index: 3;
  }
  .burger.open .burger__inner.open .burger__item {
    margin: 10px 0;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    width: 100%;
  }
  .section__values {
    background-position: center bottom;
    margin-top: 90px;
  }
  .parent {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 0px 1fr 0px 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .parent > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .parent > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .parent > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .parent > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .parent > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .parent > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .parent .parent__item1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
  }
  .parent .parent__item2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
  }
  .parent .parent__item3 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2/2/3/3;
  }
  .parent .parent__item4 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/2/3;
  }
  .parent .parent__item5 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3/1/4/2;
  }
  .parent .parent__item6 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3/2/4/3;
  }
  .benefit__item:hover .benefit__img {
    -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
  }
  .header__items-messenger,
.header__button {
    display: none;
  }
}
@media (max-width: 880px) {
  .values {
    padding: 50px 0 50px 0;
  }
  .benefit__title-item {
    font-size: 40px;
    margin: 50px 0;
  }
  .swiper-button-prev,
.swiper-button-next {
    display: block;
    position: static;
  }
  .box__arrew {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .items__body {
    display: -ms-grid;
    display: grid;
    gap: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .items__body {
    display: -ms-grid;
    display: grid;
    gap: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 780px) {
  .intro__inner .intro__title {
    font-size: 35px;
  }
  .intro__inner .intro__text {
    font-size: 20px;
    width: 100%;
  }
  .intro__inner .into__img {
    width: 350px;
    height: 350px;
  }
  .section__values {
    background-image: none;
    background: rgb(255, 160, 84);
    background: radial-gradient(circle, rgb(255, 160, 84) 24%, rgb(240, 160, 96) 87%);
  }
  .section__values .parent {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(250px, 300px);
    grid-template-columns: minmax(250px, 300px);
    -ms-grid-rows: minmax(300px, 1fr);
    grid-template-rows: minmax(300px, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .section__values .parent > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .section__values .parent .parent__item1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
  }
  .section__values .parent .parent__item2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/2/3;
  }
  .section__values .parent .parent__item3 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2/2/3/3;
  }
  .section__values .parent .parent__item4 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
  }
  .section__values .parent .parent__item5 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3/2/4/3;
  }
  .section__values .parent .parent__item6 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3/1/4/2;
  }
  .section__values .parent .parent__item7 {
    display: none;
    position: absolute;
  }
  .benefit__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .benefit__inner .benefit__item {
    padding: 20px 10px;
  }
  .discount .discount__inner .discount__body .discount__item {
    width: 100%;
    padding: 0;
  }
  .discount .discount__inner .discount__body .discount__item .form__box .form__discount .form__title {
    font-size: 15px;
  }
  .discount__item-img {
    display: none;
  }
  .footer__inner {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__inner .footer__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .footer__inner .footer__item .tools__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 10px 0;
  }
}
@media (max-width: 576px) {
  .intro__inner .into__item {
    width: 50%;
  }
  .intro__inner .intro__title {
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 10px;
  }
  .intro__inner .intro__text {
    font-size: 18px;
    margin-bottom: 10px;
    width: 100%;
  }
  .intro__inner .into__img {
    width: 300px;
    height: 300px;
  }
  .intro__inner .intro__button {
    padding: 10px 35px;
    border-radius: 20px;
    border: none;
    font-size: 30px;
    width: 100%;
    max-width: 500px;
  }
  .section__values .parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
  }
  .section__values .parent .parent__item1,
.section__values .parent .parent__item2,
.section__values .parent .parent__item3,
.section__values .parent .parent__item4,
.section__values .parent .parent__item5,
.section__values .parent .parent__item6,
.section__values .parent .parent__item7 {
    padding: 0;
    margin-top: 50px;
  }
  .parent__item1 {
    position: relative;
    width: 100%;
    height: 410px;
  }
  .parent__item1 .parent__img-robot {
    position: absolute;
    top: 20px;
    left: -10px;
    max-width: 350px;
    height: 350px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 480px) {
  .header__items {
    width: 50%;
  }
  .header__items-burger {
    width: 100%;
  }
  .hero {
    margin: 90px auto 0px auto;
  }
  .burger__inner.open {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .burger-btn {
    top: 0;
  }
  .intro__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro__inner .into__item,
.intro__inner .intro__item-text {
    width: 100%;
  }
  .intro__inner .into__item .button__delete,
.intro__inner .intro__item-text .button__delete {
    display: none;
  }
  .intro__inner .intro__item-img {
    position: relative;
  }
  .intro__inner .intro__item-img .intro__button-adaptiv {
    position: absolute;
    display: block;
    top: 285px;
  }
  .intro__inner .intro__item-img .into__img {
    width: 250px;
    height: 250px;
  }
  .intro__inner .intro__figures {
    width: 90px;
  }
  .intro__inner .intro__figures .cubes {
    right: 0;
    display: block;
  }
  .intro__inner .intro__figures .triangles {
    top: 389px;
    display: block;
  }
  .section__values {
    margin-top: 400px;
  }
  .benefit__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .benefit__inner .benefit__button {
    padding: 10px;
  }
  .benefit__button .benefit__button-item {
    -webkit-animation-name: none;
            animation-name: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .card {
    width: 250px;
  }
  .card__image img {
    max-width: 130px;
  }
  .discount .discount__inner .discount__body .discount__item {
    text-align: left;
  }
  .swiper-button-next,
.swiper-button-prev {
    display: none;
  }
  .tools__item img {
    width: 40px;
    height: 40px;
  }
}