@media (max-width: 1265px) {
   .intro__inner {
      .intro__title {
         margin: 0 0 30px 0px;
         font-size: 60px;
      }

      .intro__text {
         margin: 0 0 30px 0px;
         font-size: 36px;
         width: 100%;
         max-width: 600px;


      }

      .intro__button {
         margin: 0;
      }

      .into__img {
         width: 531px;
         height: 532px;
      }
   }

   .triangles {
      display: none;
   }

   .cubes {
      display: none;
   }

   .section__values {
      margin-top: 100px;
   }

}

@media (max-width: 980px) {
   .header {
      .header__button {
         display: block;
      }
   }

   .desctop__btn {
      display: none;


   }

   .intro__inner {
      .intro__item-text {
         width: 45%;

      }

      .intro__title {

         font-size: 50px;
      }

      .intro__text {
         font-size: 26px;
      }

      .into__img {
         width: 472px;
         height: 472px;
      }
   }

   .burger-btn {
      display: block;
      z-index: 4;
      cursor: pointer;

   }


   .burger {
      display: none;

      .burger__inner {
         display: none;
      }
   }

   .burger-btn.open {
      content: url("../img/close.png");
      width: 50px;
   }

   .burger.open {
      display: block;
      overflow: hidden;
      width: 100%;




      .burger__inner.open {
         overflow: hidden;
         position: absolute;
         top: 0;
         left: 0;
         z-index: 3;
         display: flex;
         flex-direction: column;

         align-items: center;
         width: 100%;
         height: 100vh;

         background-color: rgb(255, 160, 84);
         z-index: 3;

         .burger__item {
            margin: 10px 0;
            padding: 10px;

            overflow: hidden;
            text-align: center;
            width: 100%;
         }
      }
   }



   .section__values {
      background-position: center bottom;
      margin-top: 90px;
   }

   .parent {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
   }

   .parent__item1 {
      grid-area: 1 / 1 / 6 / 2;
   }

   .parent__item2 {
      grid-area: 1 / 2 / 2 / 3;
   }

   .parent__item3 {
      grid-area: 1 / 3 / 2 / 4;
   }

   .parent__item4 {
      display: none;
   }

   .parent__item5 {
      grid-area: 2 / 2 / 3 / 3;
   }

   .parent__item6 {
      grid-area: 2 / 3 / 3 / 4;
   }

   .parent__item7 {
      display: none;
   }

   .benefit__item:hover .benefit__img {
      transform: scale(1.3, 1.3);
   }


   .header__items-messenger,
   .header__button {
      display: none;
   }
}

@media (max-width: 880px) {

   .values {

      padding: 50px 0 50px 0;
   }

   .benefit__title-item {
      font-size: 40px;
      margin: 50px 0;
   }

   .swiper-button-prev,
   .swiper-button-next {
      display: block;
      position: static;
   }



   .box__arrew {
      width: 100%;
      display: flex;
      justify-content: space-around;
   }

   .items__body {
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr;
   }

   .items__body {
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr;
   }

}

@media (max-width: 780px) {

   .intro__inner {


      .intro__title {

         font-size: 35px;
      }

      .intro__text {
         font-size: 20px;
         width: 100%;
      }

      .into__img {
         width: 350px;
         height: 350px;
      }


   }

   .section__values {

      background-image: none;
      background: rgb(255, 160, 84);
      background: radial-gradient(circle, rgba(255, 160, 84, 1) 24%, rgba(240, 160, 96, 1) 87%);

      .parent {
         display: grid;
         grid-template-columns: minmax(250px, 300px);
         grid-template-rows: minmax(300px, 1fr);
         grid-column-gap: 0px;
         grid-row-gap: 0px;



         .parent__item1 {
            grid-area: 1 / 1 / 2 / 2;
         }

         .parent__item2 {
            grid-area: 1 / 2 / 2 / 3;
         }

         .parent__item3 {
            grid-area: 2 / 2 / 3 / 3;
         }

         .parent__item4 {
            grid-area: 2 / 1 / 3 / 2;
         }

         .parent__item5 {
            grid-area: 3 / 2 / 4 / 3;
         }

         .parent__item6 {
            grid-area: 3 / 1 / 4 / 2;
         }

         .parent__item7 {
            display: none;
            position: absolute;
         }
      }
   }

   .benefit__inner {
      flex-wrap: wrap;

      .benefit__item {
         padding: 20px 10px;
      }
   }

   .discount .discount__inner .discount__body .discount__item {
      width: 100%;
      padding: 0;
   }

   .discount .discount__inner .discount__body .discount__item .form__box .form__discount .form__title {
      font-size: 15px;
   }


   .discount__item-img {
      display: none;
   }

   .footer__inner {
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .footer__item {
         align-items: center;
         justify-content: center;
         width: 100%;

         .tools__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin: 10px 0;


         }
      }
   }




}

@media (max-width: 576px) {
   .intro__inner {
      .into__item {
         width: 50%;
      }

      .intro__title {
         margin-top: 10px;
         font-size: 30px;
         margin-bottom: 10px;
      }

      .intro__text {
         font-size: 18px;
         margin-bottom: 10px;
         width: 100%;
      }

      .into__img {
         width: 300px;
         height: 300px;
      }

      .intro__button {

         padding: 10px 35px;
         border-radius: 20px;
         border: none;
         font-size: 30px;
         width: 100%;
         max-width: 500px;
      }



   }

   .section__values {
      .parent {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         padding: 10px;


         .parent__item2,
         .parent__item3,
         .parent__item4,
         .parent__item5,
         .parent__item6,
         .parent__item7 {
            padding: 0;
            margin-top: 50px;
         }
      }
   }

   .parent__item1 {
      display: none;
   }
}

@media (max-width: 480px) {
   .header__items {
      width: 50%;
   }

   .header__items-burger {
      width: 100%;
   }

   .hero {
      margin: 90px auto 0px auto;
   }

   .burger__inner.open {
      justify-content: center;
   }

   .burger-btn {
      top: 0;
   }



   .intro__inner {
      flex-direction: column;

      .into__item,
      .intro__item-text {
         width: 100%;

         .button__delete {
            display: none;
         }

      }

      .intro__item-img {
         position: relative;

         .intro__button-adaptiv {
            position: absolute;
            display: block;
            top: 285px;
         }

         .into__img {
            width: 250px;
            height: 250px;
            right: 220px;
         }
      }

      .intro__figures {
         width: 90px;

         .cubes {
            right: 0;
            display: block;
         }

         .triangles {
            top: 389px;
            display: block;
         }
      }
   }

   .section__values {

      margin-top: 400px;
   }

   .benefit__inner {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .benefit__button {
         padding: 10px;


      }
   }

   .benefit__button {
      .benefit__button-item {
         animation-name: none;
         width: fit-content;
      }
   }

   .card {
      width: 250px;
   }

   .card__image img {
      max-width: 130px;
   }

   .discount .discount__inner .discount__body .discount__item {
      text-align: left;
   }

   .swiper-button-next,
   .swiper-button-prev {
      display: none;
   }




   .tools__item {


      img {
         width: 40px;
         height: 40px;
      }
   }
}