*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
   box-sizing: border-box;

   font-family: 'Roboto-Medium';

}

/* Убираем внутренние отступы */
ul,
ol[class],
li {
   padding: 0;
   list-style: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
   margin: 0;
}

a {
   text-decoration: none;
   cursor: pointer;
   color: #000000;
}

a:hover {
   color: #565656;
   transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: Montserrat-ExtraBold;
}

p {
   font-family: Roboto-Medium;
}

html {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}

body {
   overflow-x: hidden;
   box-sizing: border-box;
}



.wrap {
   margin: 0 auto;
   padding: 0 10px;
   width: 100%;
   max-width: 1350px;

}

.section {
   margin: 0 auto;
   padding: 0 10px;
   width: 100%;

   max-width: 1350px;

}