@import "var.scss";
@import "resetstyles.scss";
@import "keyframes.scss";


@font-face {
   font-family: 'Montserrat-ExtraBold';
   src: url(../fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
   font-family: 'Montserrat-Medium';
   src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
   font-family: 'Roboto-Medium';
   src: url(../fonts/Roboto-Medium.ttf);
}




// header
// =====================
.header {
   position: fixed;



   margin-bottom: 10px;
   background-color: #FFF;
   padding-top: 10px;
   transition: all 3s ease !important;

   .burger {
      display: none;
   }

   width: 100%;


   z-index: 3;



}



.header__inner {

   display: flex;

   align-items: center;
   justify-content: space-between;
}

.header__items {
   display: flex;

   justify-content: center;
   align-items: center;



}

.logo {
   border-radius: 15px;
   max-height: 80px;
   width: 100%;
   object-fit: cover;
}


.header__button {
   background-color: #f0a060;

   padding: 20px 30px;
   border-radius: 20px;
   border: none;
   font-size: 25px;
   color: #FFF;


}

.header__button:hover {
   @extend %button__hover;
}

.phone__img,
.instagram__img,
.vk__img,
.telegram__img {
   display: flex;
   justify-content: center;
   align-items: center;

   background-color: initial;
   border-radius: 50%;
   transition: all 0.3s;
}

.burger-btn {
   display: none;
}


.tools__item:not(:first-child) {
   margin-left: 37px;
}



// .intro
// ====================

.section__intro {
   margin: 0 auto;
   padding: 0 10px;
   width: 100%;
}

.intro__inner {
   width: 100%;
   display: flex;
}

.intro__item {
   width: auto;
}

.into__img {
   width: 600px;
   height: 600px;
   object-fit: cover;
   position: absolute;

   right: 0;
   z-index: -1;
   animation-name: traffic__intro;
   animation-duration: 3s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;



}

.intro__title {
   margin: 0 0 30px 100px;
   color: #f0a060;
   font-size: 72px;
   padding: 5px;


}

.intro__text {
   margin: 0 0 30px 100px;
   color: #000000;
   font-size: 43px;
   padding: 5px;

}

.intro__description {
   margin-top: 130px;
   font-size: 30px;
   padding: 5px;

}

.intro__button {
   width: 300px;
   margin-left: 100px;
   background-color: #f0a060;
   margin-top: 10px;
   padding: 20px 55px;
   border-radius: 20px;
   border: none;


   font-size: 40px;
   color: #FFF
}



.button:hover {
   @extend %button__hover
}

.intro__button-adaptiv {
   display: none;
}

.intro__figures {
   position: absolute;
}



.triangles {
   top: 451px;
   left: 0;
   z-index: -1;
   animation-name: traffic__triangles;
   animation-duration: 3s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
}

.cubes {
   bottom: -281px;
   right: 250px;
   -webkit-transform: rotate(60deg);
   transform: rotate(90deg);
   transform: rotate(0deg);
   animation-name: traffic__cubes;
   animation-duration: 3s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
}

.hero {
   position: relative;
   max-width: 1900px;
   margin: 145px auto 0px auto;
}

// values
// ===================
.section__values {
   margin-top: 330px;
   width: 100%;
   height: 100%;
   max-width: 2100px;
   padding: 0;
   background-image: url(../img/pthon.png);
   background-repeat: repeat-x;
   background-position: center;
   background-size: cover;
   overflow: hidden;

}

.values {


   max-width: 1900px;


   padding: 135px 0 50px 0;

   &__title {
      width: 100%;
      text-align: center;
      margin-bottom: 50px;

      h2 {
         font-size: 40px;

      }
   }
}

.parent {
   width: 100%;
   padding: 0px 0 100px 0;
   display: grid;

   grid-template-rows: auto;
   grid-gap: 10px;

   .parent__img-item {
      display: flex;
      flex-direction: row;
      justify-content: center;

   }

   .parent__item-title {
      width: 100%;
      text-align: center;
      padding: 10px 0;
   }

   .parent__item-text {
      @extend %border__text;
   }

}



.parent__item1 {
   grid-area: 1 / 1 / 4 / 2;
   display: flex;
   align-items: center;

}

.parent__item2 {
   grid-area: 1 / 2 / 2 / 3;
   padding: 30px 30px 5px 30px;
}

.parent__item3 {
   grid-area: 1 / 4 / 2 / 5;
   padding: 30px 30px 5px 30px;
}

.parent__item4 {
   grid-area: 2 / 2 / 3 / 5;
   display: flex;
   justify-content: center;
   align-items: center;

   .parent__img-item {
      width: 200px;
      height: 200px;
   }
}

.parent__item5 {
   grid-area: 3 / 2 / 4 / 3;
   padding: 30px 5px 30px 30px;
}

.parent__item6 {
   grid-area: 3 / 4 / 4 / 5;
   padding: 30px 5px 30px 30px;
}

.parent__item7 {
   grid-area: 1 / 5 / 4 / 6;
   display: flex;
   align-items: center;
}

// benefit
// ///////////////
.benefit__inner {
   width: 100%;
   display: flex;
   justify-content: space-around;

   .benefit__item {
      display: flex;
      flex-direction: column;

      transition: all 1s;

   }
}






.benefit__title-block {
   width: 100%;
   text-align: center;

   .benefit__title-item {
      font-size: 40px;
      margin-bottom: 120px;
   }
}

.benefit__img {

   height: 150px;
   transition: all 0.3s;
}

.benefit__item-block {
   margin-top: 30px;
   border: 3px solid #f0a060;
   border-radius: 10px;

   .benefit__item-text {
      padding: 7px 15px;
      text-align: center;
      transition: all 0.3s;


   }
}

.benefit__button {
   width: 100%;
   text-align: center;
   margin-top: 120px;

   button:hover {
      @extend %button__hover;
   }

   .benefit__button-item {
      width: 400px;
      background-color: #f0a060;
      padding: 20px 55px;
      border-radius: 20px;
      border: none;
      font-size: 40px;
      color: #FFF;
      animation-name: benefit__button;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
   }
}

// card
.section__card {
   margin-top: 80px;
}

.cards {
   margin: 0;
   padding: 0;
   list-style-type: none;
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   justify-content: center;

}

.cards__box-title {
   font-size: 30px;
   text-align: center;
   margin: 15px 0;
   padding: 0 5px;
}


.cards__item {
   margin: 20px;
}

.card {
   display: flex;
   flex-direction: column;
   width: 350px;
   background-color: #bfbfbf;
}

.card__image {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;

}

.card__image img {
   width: 100%;
   max-width: 200px;
   object-fit: cover;
}

.card__content {

   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 20px;
   flex-grow: 1;
}

.card__title {
   margin: 0;
   margin-bottom: 15px;
}

.card__descr {
   margin: 0;
   margin-bottom: 15px;
}

.card__btn {
   margin-top: auto;
   border: none;
   border-radius: 15px;
   padding: 10px 40px;

   background-color: #f0a060;
   cursor: pointer;

   a {
      color: #fff;
      font-size: 25px;
   }


}

button:hover {
   @extend %button__hover;
}

.cards__item .card {
   height: 100%;
}

// slider
// ==========================
.section__swiper {
   margin-top: 100px;
   background-color: #f0a060;
   width: 100%;
   height: 100%;

}

.swiper-button-next:after,
.swiper-button-prev:after {
   display: none;

}



.swiper-button-prev,
.swiper-button-next {
   position: static;
   width: 70px;
   height: 70px;
   border: 1px solid rgb(0, 0, 0);
   transition: all 0.3s;
   border-radius: 10px;
   z-index: 1;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
   padding: 10px;
   border: 5px solid #6af060;
}


.swiper-button-next {
   content: url(../img/slider-arrow.png);
}

.swiper-button-prev {
   content: url(../img/slider-arrow.png);
   transform: rotate(180deg);
}

.swiper {
   width: 100%;
   max-width: 2100px;
   position: relative;
   margin: auto auto;
   overflow: hidden;
}

.swlider__btn-box {
   width: 100%;
   max-width: 300px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 0;
}




.wrapper {
   width: 100%;
   margin: 0 auto;
   max-width: 850px;
   padding: 0 10px;
}


.swiper {
   width: 100%;
   height: 100%;

}

.swiper__title-box {
   width: 100%;
   text-align: center;
   padding-top: 20px;

   h3 {
      font-size: 40px;
   }
}


.items {
   padding: 50px 0;
}

.items__cont {
   max-width: 1200px;
   margin: 0 auto;
}

.items__body {
   display: grid;
   gap: 20px;
   grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.item {}

.item__video {
   position: relative;

   padding: 0 0 56% 0;
}

.item__video video {
   object-fit: cover;
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
}

.video {}

.item__text {
   font-size: 25px;
   margin-top: 25px;
}


.swiper {
   width: 100%;
   height: 100%;
}

.swiper-pagination {
   display: none;
}

.swiper-pagination-bullets .swiper-pagination-bullet {
   background-color: #FFF;
   width: 10px;
   height: 10px;
}




.footer {
   position: relative;
   margin-top: 150px;
   background-image: url("../img/pthon.png");
   background-size: cover;
   background-position: center;


   padding: 30px 0px;

   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .footer__item {
         padding: 10px 15px 0 15px;
         display: flex;
         align-items: center;

         .footer__email-inner {
            .footer__email {
               font-size: 25px;
               padding: 5px;

            }
         }

         .contact-us-inner {
            display: flex;

            align-items: center;




            .contact-us-item {
               .contact-us-title {
                  padding: 5px;
               }

               padding: 5px;
               font-size: 30px;

               .contact-us-text {
                  width: 100%;
                  padding: 5px;
                  font-size: 25px;
                  text-align: center;

               }
            }
         }
      }
   }
}

@import "media.scss";