%button__hover {
   border: none;

   transition: all 0.3s;
   box-shadow: 5px 5px 2px 1px rgba(14, 14, 14, 0.2);
   background-color: #6af060;

}

%button {

   margin-left: 100px;
   background-color: #f0a060;
   padding: 20px 55px;
   border-radius: 20px;
   border: none;
   font-size: 40px;
   color: #FFF;
}

%border__text {
   border-radius: 10px;
   background-color: #ffc8a8;
   padding: 10px;
}